@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap");

:root {
  --color-default: #cfd2da;
  --color-hover: white;
}

body {
  visibility: hidden;
  user-select: none;
  white-space: nowrap;
  margin: 0;
  user-select: none;
  overflow: hidden;
}

p {
  margin: 0;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 40;
}

#eye {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
  background: #fb1e1e95;
  border-radius: 50%;
  padding: 6px;
  outline: 2px solid #fb1e1e;
  outline-offset: 4px;
  box-shadow: 0 0 10px #fb1e1e;
  display: flex;
  justify-content: center;
  text-shadow: 0 0 10px #fb1e1e;
  align-items: center;
}

#eye i {
  font-size: 15px;
  color: #fb1e1e;
}

.eye-hover {
  color: #fb1e1e !important;
  text-shadow: 0 0 10px #fb1e1e;
}

#eye.eye-hover {
  box-shadow: 0 0 0 2px #8b1515b6,
    0 0 15px #fb1e1e,
    0 0 25px rgba(251, 30, 30, 0.6);
}

#options-wrapper {
  position: absolute;
  top: 49.8%;
  left: calc(50% + 35px);
  display: flex;
  flex-direction: column;
  gap: 4pt;
}

.option-container {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-family: "Nunito";
  font-size: 11pt;
  line-height: 18pt;
  vertical-align: middle;
  margin: 0;
  transition: all 200ms ease-out;
  transform-origin: left top;
  height: 20pt;
  min-width: 100pt;
  width: max-content;
  background: #fb1e1e95;
  max-width: 200pt;
  top: 0;
  position: relative;
  border-radius: 4px;
  padding: 4px 8px;
  text-shadow: 0 0 10px #ff3939;
  margin-left: 8px;
  position: relative;
}

.option-container::before {
  content: '';
  position: absolute;
  left: -8px;
  top: 0;
  height: 100%;
  width: 3px;
  background: #fb1e1e95;
  border-radius: 2px;
  transition: all 200ms ease-out;
}

.option-container:hover::before {
  background: #fb1e1e;
  box-shadow: 0 0 5px #ff3939,
              0 0 10px #ff3939,
              0 0 15px #ff3939;
}

.option-container:hover {
  transform-origin: left top;
  margin-left: 8pt;
  text-shadow: 0 0 10px #ff3939;
}

.option-icon {
  font-size: 12pt;
  line-height: 22pt;
  width: 14pt;
  margin-right: 8pt;
  color: white;
}

.option-label {
  font-weight: 500;
}